body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin: 4px 0px;
}

button {
    background-color: #5f9341;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
}

